<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <style type="text/css">
        body, html {
            width: 100%;
            height: 100%;
            margin: 0;
            font-family: "微软雅黑";
        }

        #allmap {
            width: 100%;
            height: 500px;
        }

        p {
            margin-left: 5px;
            font-size: 14px;
        }
    </style>
    <script type="text/javascript"
            src="http://api.map.baidu.com/api?v=2.0&ak=O4iB3pz6yYB7BwxooPiOGMcfszWnXIbF"></script>
    <title>查询北京地铁车站周边POI信息</title>
    <script type='text/javascript' src="static/js/jquery-3.2.0.js"></script></span>
    <script type="text/javascript" src="static/js/baiduhandle.js"></script>
</head>
<body>
<div id="allmap"></div>
<button id="start">点击开始</button>
<button id="restart">缺失项重新检索</button>
<button id="searchpoi">通过数据库车站位置寻找POI</button>
</body>
</html>
