<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>高德POI抓取</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">高德POI抓取</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">控制台</a></li>
            <li class="layui-nav-item"><a href="">信息管理</a></li>
            <li class="layui-nav-item"><a href="">用户</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    ZhangXu
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">退出</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">自定义检索</a>
                    <dl class="layui-nav-child">
                        <dd><a href="keywordSearch" target="main_self_frame">关键字检索</a></dd>
                        <dd><a href="searchNearby" target="main_self_frame">周边检索</a></dd>
                        <dd><a href="boundSearch" target="main_self_frame">多边形检索</a></dd>
                    </dl>
                </li>

                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">北京市全域POI抓取</a>
                    <dl class="layui-nav-child">
                        <dd><a href="globalsearch" target="main_self_frame">预检索确定POI总量</a></dd>
                        <dd><a href="allPoiSearch" target="main_self_frame">正式抓取</a></dd>
                    </dl>
                </li>

                <li class="layui-nav-item"><a href="lnglatsearch" target="main_self_frame">地产小区经纬度匹配</a></li>
            </ul>
        </div>
    </div>

    {#高德页面#}
    <div class="layui-body"
    <!-- 内容主体区域 -->
    {#    <iframe src="gaodehandle.html" id="myiframe" name="main_self_frame" scrolling="no" onload="changeFrameHeightAndWidth()"#}
    {#            frameborder="0" align="top" height=500></iframe>#}
    <iframe src="homepage.html" name="main_self_frame" frameborder="0" class="layadmin-iframe" id="myiframe"
            scrolling="no" onload="changeFrameHeightAndWidth()"></iframe>
</div>
<script>
    function changeFrameHeightAndWidth() {
        var ifm = document.getElementById("myiframe");
        ifm.height = document.documentElement.clientHeight;
        ifm.width = document.documentElement.clientWidth;
    }

    window.onresize = function () {
        changeFrameHeightAndWidth();
    }
</script>
<div class="layui-footer">
    <!-- 底部固定区域 -->
    © 北京交通大学
</div>

<script type="text/javascript" src="../static/layui/layui.js"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element
            , $ = layui.jquery;
    });
</script>
</body>
</html>